<% include partials/header.ejs%>
<div class="container margin-top-30">

    <div class="col-md-12 margin-top-30">
        <table id="table" class="table table-striped container"
               data-pagination="true"
               data-search="true"
               data-toggle="table"
               data-show-column="true"
               data-filter-control="true"
               data-filter-show-clear= "true"
               data-show-multi-sort="true" >
                <thead>
                <tr>
                    <th data-field="rank" class="text-align-left" data-sortable="true" data-filter-control="input" data-search="true">Rank</th>
                    <th scope="col" data-field="name" class="text-align-right" data-sortable="true" data-filter-control="input" data-search="true">Name</th>
                    <th scope="col" data-field="market_cap" class="text-align-right" data-sortable="true" data-filter-control="input" data-search="true">Market Cap</th>
                    <th scope="col" data-field="price" class="text-align-right" data-sortable="true" data-filter-control="input" data-search="true">Price</th>
                    <th scope="col" data-field="circulating_supply" class="text-align-right" data-sortable="true" data-filter-control="input" data-search="true">Circulating Supply</th>
                    <th scope="col" data-field="volume" class="text-align-right" data-sortable="true" data-filter-control="input" data-search="true">Volume (24 hrs)</th>
                    <th scope="col" data-field="change" class="text-align-right" data-sortable="true" data-filter-control="input" data-search="true">% Change (24 hrs)</th>
                </tr>

                </thead>
                <% for (var i = 0; i < tickers.length; i++) { %>
                <tr id="<%= tickers[i]['id'] %>">
                    <td class="text-align-left"><%= tickers[i]['rank'] %></td>
                    <td scope="col" class="text-align-right"><a href="/<%= tickers[i]['id'] %>"> <%= tickers[i]['name'] %></a></td>
                    <td scope="col" class="text-align-right"><%= tickers[i]['market_cap_usd'] %></td>
                    <td scope="col" class="text-align-right"><%= tickers[i]['price_usd'] %></td>
                    <td scope="col" class="text-align-right"><%= tickers[i]['total_supply'] %></td>
                    <td scope="col" class="text-align-right"><%= tickers[i]['24h_volume_usd'] %></td>
                    <td scope="col" class="text-align-right <% if(tickers[i]['percent_change_24h'] < 0){ %> red<% } else{ %> green<% } %>">
                        <%= tickers[i]['percent_change_24h'] %>
                    </td>
                </tr>
                <% } %>
            </table>
    </div>
</div>

<!--<% include partials/footer.ejs%>-->